@if (isLoaded()) {
  <div class="">
    <h1>Modifier un Pokémon</h1>

    <form [formGroup]="pokeFormUpdate" (ngSubmit)="onSubmit()" #pokemonForm="ngForm" class="card">

      <!-- Image actuelle -->
      <img [src]="pokemon()?.image" [alt]="pokemon()?.name">

      <!-- Nom -->
      <label for="name">Nom</label>
      <input
        id="name"
        name="name"
        type="text"
        [placeholder]="pokemon()?.name"
        formControlName="name"
        required
      />

      <!-- Type -->
      <label>Type</label>
      <div formArrayName="types">
        @for (i of range; track i;) {
          <label>Type {{ i + 1 }}</label>
          <select [formControlName]="i">

            @if (i === 1 && !this.pokemon()?.types?.[i]?.name) {
              <option value="">Pas de second type</option>
            } @else {
              <option value="">{{ pokemon()?.types?.[i]?.name }}</option>
              @if (i === 1) {
                <option value="">Pas de second type</option>
              }
            }
            @for (type of types(); track type._id) {
              @if (type.name !== pokemon()?.types?.[i]?.name) {
                <option [value]="type.name">{{ type.name }}</option>
              }
            }
          </select>
        }
      </div>

      <!-- URL de l'image -->
      <label for="image">URL de l'image</label>
      <input
        id="image"
        name="image"
        type="text"
        [placeholder]="pokemon()?.image"
        formControlName="image"
      />

      <div class="description-wrapper">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          class="editable-description"
        >
        </textarea>
      </div>

      <button type="submit">
        Enregistrer les modifications
      </button>
    </form>
  </div>
} @else {
  <p>Chargement</p>
}


